local.properties
SuperFit.iml
.gradle/
.idea/
build/
gradle/
app/src/main/assets/typescript/
*.js
*.ts
*.map
tsconfig.json
/Superfit/obj/Debug
/Superfit/.vs/config/applicationhost.config
/Superfit/bin
/Superfit/.vs/Superfit/v15
