local.properties
SuperFit.iml
.gradle/
.idea/
build/
gradle/
*.js
*.map
tsconfig.json
/Superfit/obj/Debug
/Superfit/.vs/config/applicationhost.config
/Superfit/bin
/Superfit/.vs/Superfit/v15
/Superfit/obj/Release/Superfit.csproj.CoreCompileInputs.cache
