
.wrapper {
    position: absolute;
    z-index: 100;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background: black;
    color: white;
    transition: left 0.4s;
}

.scroll-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
}

