
















.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .starter {
    background: var(--button-background);
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#start {
    font-size: 20px;
}





.button {
    border-radius: 10px;
    margin: 30px;
    background: var(--button-background);
    color: var(--button-color);
    padding: 20px 50px;
    text-align: center;
}

.dialog {
    background: var(--dialog-background);
}