body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

.hidden {
    display: none;
}

.button {
    border-radius: 10px;
    margin: 30px;
    background: lightblue;
    color: white;
    padding: 20px 50px;
    text-align: center;
}

#wrapper {
    position: absolute;
    z-index: 100;
    top: 0px;
    bottom: 0px;
    left: 0%;
    width: 100%;
    overflow: hidden;
    background: black;
    color: white;
    transition: left 0.4s;
}

#wrapper.offscreen {
    left: -100%;
}

#scroll-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
}

.label {
    margin-left: 10px;
    margin-top: 10px;
}

.status {
    display: flex;
    justify-content: space-between;    
}

.gps {
    margin-right: 15px;
    margin-top: -15px;
}

.mainDisplay {
    display: flex;
    justify-content: center;
}

.content {
    font-size: 140px;
    font-weight: 600;
}

.contentSmall {
    font-size: 100px;
    font-weight: 400;
}