body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

#wrapper {
    position: absolute;
    z-index: 100;
    top: 0px;
    bottom: 0px;
    left: -0%;
    width: 100%;
    overflow: hidden;
    background: black;
    color: white;
}

#scroll-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
}

.label {
    margin-left: 10px;
    margin-top: 10px;
}

.mainDisplay {
    display: flex;
    justify-content: center;
}

.content {
    font-size: 140px;
    font-weight: 600;
}

.contentSmall {
    font-size: 100px;
    font-weight: 400;
}